<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui">
	
	<p:ajaxStatus onstart="PF('status').show()" oncomplete="PF('status').hide()"/>
	<p:dialog widgetVar="status" modal="true" closable="false">
		Carregando, aguarde...
		<div class="progress">
      				<div class="indeterminate"></div>
  				</div>
	</p:dialog>
	
</ui:composition>