<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

	<div class="hide-on-small-only">
		<a class="btn waves-effect waves-teal btn-flat tooltipped" jsf:action="#{MB.voltar}" jsf:immediate="true" jsf:rendered="#{empty rv ? true : rv}"
			data-position="top" data-delay="50" data-tooltip="Voltar para a página anterior">
			<i class="mdi-content-undo"></i> Voltar
			<f:ajax render="@all"></f:ajax>
		</a>
		
		<a class="btn waves-effect waves-light blue tooltipped" jsf:action="#{MB.gravar}" jsf:rendered="#{empty rg ? true : rg}" style="margin-left:5px;"
			data-position="top" data-delay="50" data-tooltip="Gravar os dados">
			<i class="mdi-content-save"></i> Gravar
			<f:ajax execute="@form" render="@all"></f:ajax>
		</a>
		
		<h:panelGroup rendered="${(not empty MB.entidade.id and re != false)}">
			<a class="right waves-effect waves-light btn modal-trigger red tooltipped" href="#confirmacaoExclusao1" style="margin-left:5px;"
				data-position="top" data-delay="50" data-tooltip="Excluir o registro">
				<i class="mdi-action-delete"></i> Excluir
			</a>
			
			<div id="confirmacaoExclusao1" class="modal">
				<div class="modal-content">
					<h4>Confirmação</h4>
					<p>Confirma a exclusão do registro?</p>
				</div>
				<div class="modal-footer">
					<a class="modal-action modal-close btn btn-flat" type="button">Cancelar</a>
					<a class="modal-action modal-close waves-effect waves-red btn-flat tooltipped" jsf:action="#{MB.excluir}" jsf:immediate="true"
						data-position="top" data-delay="50" data-tooltip="Excluir o registro">
						<i class="mdi-action-delete"></i> Excluir
						<f:ajax render="@all"></f:ajax>
					</a>
				</div>
			</div>
		</h:panelGroup>
	</div>
	
	<div class="hide-on-med-and-up">
		<div class="row center">
			<a class="btn waves-effect waves-teal btn-flat tooltipped" jsf:action="#{MB.voltar}" jsf:immediate="true" jsf:rendered="#{empty rv ? true : rv}"
				data-position="top" data-delay="50" data-tooltip="Voltar para a página anterior">
				<i class="mdi-content-undo"></i> Voltar
				<f:ajax render="@all"></f:ajax>
			</a>
		</div>
		
		<div class="row center">
			<a class="btn waves-effect waves-light blue tooltipped" jsf:action="#{MB.gravar}" jsf:rendered="#{empty rg ? true : rg}" style="margin-left:5px;"
				data-position="top" data-delay="50" data-tooltip="Gravar os dados">
				<i class="mdi-content-save"></i> Gravar
				<f:ajax execute="@form" render="@all"></f:ajax>
			</a>
		</div>
		
		<div class="row center">
			<h:panelGroup rendered="${(not empty MB.entidade.id and re != false)}">
				<a class="waves-effect waves-light btn modal-trigger red tooltipped" href="#confirmacaoExclusao2" style="margin-left:5px;"
					data-position="top" data-delay="50" data-tooltip="Excluir o registro">
					<i class="mdi-action-delete"></i> Excluir
				</a>
				
				<div id="confirmacaoExclusao2" class="modal">
					<div class="modal-content">
						<h4>Confirmação</h4>
						<p>Confirma a exclusão do registro?</p>
					</div>
					<div class="modal-footer">
						<a class="modal-action modal-close btn btn-flat" type="button">Cancelar</a>
						<a class="modal-action modal-close waves-effect waves-red btn-flat tooltipped" jsf:action="#{MB.excluir}" jsf:immediate="true"
							data-position="top" data-delay="50" data-tooltip="Excluir o registro">
							<i class="mdi-action-delete"></i> Excluir
							<f:ajax render="@all"></f:ajax>
						</a>
					</div>
				</div>
			</h:panelGroup>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.modal-trigger').leanModal();
		});
	</script>
</ui:composition>