<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description"
			content="Aplicativo para rastreio de cargas entre Transportadores e a Cosan. " />
		<title>Carrera Cargas</title>

		<h:outputStylesheet name="css/materialize.min.css" />
		<h:outputStylesheet name="css/estilo.css" />
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet" />

	</h:head>
</ui:composition>
