<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
	
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title black-text">
						<div align="center">
							<ui:insert name="titulo"/>
						</div> 
					</span>
					<p>
						<ui:insert name="pesquisa"/>
					</p>
					<p>
						<ui:insert name="acao"/>
					</p>
					<p>
						<ui:insert name="conteudo"/>
					</p>
				</div>
				<div class="card-action">
					<ui:insert name="acao2"/>
				</div>
			</div>
		</div>
	</div>
</ui:composition>