<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

	<nav>
	<ul id="slide-out" class="side-nav fixed">
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold"><a class="collapsible-header  waves-effect waves-orange">Planilha - IPE <i class="mdi-navigation-arrow-drop-down"></i></a>
					<div class="collapsible-body">
						<ul>
							<li><a href="pesquisa.xhtml">Pesquisa</a></li>
							<li><a href="importacao.xhtml">Importação</a></li>
						</ul>
					</div>
				</li>
				<li class="bold"><a class="collapsible-header  waves-effect waves-orange">Cadastros <i class="mdi-navigation-arrow-drop-down"></i></a>
					<div class="collapsible-body">
						<ul>
							<li><a href="veiculo.xhtml">Veículo</a></li>
						</ul>
					</div>
				</li>
				<li class="bold"><a class="collapsible-header  waves-effect waves-orange">Segurança <i class="mdi-navigation-arrow-drop-down"></i></a>
					<div class="collapsible-body">
						<ul>
							<li><a href="papel.xhtml">Papéis</a></li>
							<li><a href="usuario.xhtml">Usuários</a></li>
							<li><a href="#">Permissões</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
	</ul>
	<a href="#" data-activates="slide-out" class="button-collapse"><i
		class="mdi-navigation-menu"></i></a> </nav>
</ui:composition>
