<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:head>

		<!-- Standard Meta -->
		<meta charset="utf-8" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- Site Properities -->
		<title></title>
		
		<h:outputStylesheet name="css/bootcards-desktop.min.css" />
		<h:outputStylesheet name="css/style.css" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
		
		<link rel="apple-touch-icon" href="#{request.contextPath}/resources/img/ico.png" />
        <link rel="icon" href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="shortcut icon" href="#{request.contextPath}/resources/img/ico.png" />
		<script src="http://maps.google.com/maps/api/js?sensor=true|false" type="text/javascript"></script>		
		<h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
		
	</h:head>

	<h:body>
		<div class="container">
			<div class="row">
				<ui:decorate template="/WEB-INF/templates/menu.xhtml"></ui:decorate>
			</div>  	
				
			<div class="row">				
				<div class="container">
		  			<div class="row">
		  				<ui:insert name="conteudo"></ui:insert>
		  			</div>
		  		</div>
		  	</div>
	  	</div>
		
		<ui:decorate template="/WEB-INF/templates/ajaxStatus.xhtml"></ui:decorate>
		
		<h:outputScript library="primefaces" name="jquery/jquery.js" />		
		<h:outputScript name="js/bootstrap.min.js" />
		<h:outputScript name="js/bootcards.min.js" />
		<h:outputScript name="locale-primefaces.js" library="js" />
		<footer>
			<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
				<div class="container-fluid" style="background-color: #f0f0f0; padding-top: 10px;">
					<div class="row">
						<div class="col-md-12 text-center">
							<a href="http://www.carrerasistemas.com.br" target="_blanck"><h:graphicImage library="img" name="carrera/carrera-logo-azul-100.png" height="50px"/></a>
							<h5>Desenvolvido por Carrera Consultoria e Sistemas</h5>
							<hr />
							<h5><a href="http://www.carrerasistemas.com.br" target="_blanck">www.carrerasistemas.com.br</a></h5> <br></br>
						</div> 	
					</div>
				</div>
			</nav>
		</footer>
	</h:body>
</ui:composition>



