<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

	<footer class="page-footer #ee6e73">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Carrera Cargas</h5>
				<p class="grey-text text-lighten-4">Estudar mais adiante durante o projeto informações importantes que podem aparecer aqui.</p>


			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Settings</h5>
				<ul>
					<li><a class="white-text" href="#!">Link 1</a></li>
					<li><a class="white-text" href="#!">Link 2</a></li>
					<li><a class="white-text" href="#!">Link 3</a></li>
					<li><a class="white-text" href="#!">Link 4</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
					<li><a class="white-text" href="#!">Link 1</a></li>
					<li><a class="white-text" href="#!">Link 2</a></li>
					<li><a class="white-text" href="#!">Link 3</a></li>
					<li><a class="white-text" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Feito por <a class="orange-text text-lighten-3"
				href="http://carrerasistemas.com.br">Carrera Sistemas</a>
		</div>
	</div>
	</footer>


	<h:outputScript library="primefaces" name="jquery/jquery.js"  target="head"/>
	<h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
    <h:outputScript name="js/materialize.min.js" />
	<h:outputScript name="js/locale-primefaces.js" />
    
    <script>
    	$(".button-collapse").sideNav();
    </script>
</ui:composition>
