<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:head>

		<!-- Standard Meta -->
		<meta charset="utf-8" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- Site Properities -->
		<title>Relab-Material Design</title>

		<h:outputStylesheet name="css/materialize.min.css" />

		<link rel="apple-touch-icon"
			href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="icon" href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72"
			href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="shortcut icon"
			href="#{request.contextPath}/resources/img/ico.png" />

	</h:head>

	<h:body>
		<ui:decorate template="/WEB-INF/templates/menu.xhtml"></ui:decorate>
		
		<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br/><br/>
      <h1 class="header center orange-text">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br/><br/>

    </div>
  </div>
		
		<div class="container">
			<div class="section">

				<!--   Icon Section   -->
				<div class="row">
					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center light-blue-text">
								<i class="mdi-image-flash-on"></i>
							</h2>
							<h5 class="center">Speeds up development</h5>

							<p class="light">We did most of the heavy lifting for you to
								provide a default stylings that incorporate our custom
								components. Additionally, we refined animations and transitions
								to provide a smoother experience for developers.</p>
						</div>
					</div>

					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center light-blue-text">
								<i class="mdi-social-group"></i>
							</h2>
							<h5 class="center">User Experience Focused</h5>

							<p class="light">By utilizing elements and principles of
								Material Design, we were able to create a framework that
								incorporates components and animations that provide more
								feedback to users. Additionally, a single underlying responsive
								system across all platforms allow for a more unified user
								experience.</p>
						</div>
					</div>

					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center light-blue-text">
								<i class="mdi-action-settings"></i>
							</h2>
							<h5 class="center">Easy to work with</h5>

							<p class="light">We have provided detailed documentation as
								well as specific code examples to help new users get started. We
								are also always open to feedback and can answer any questions a
								user may have about Materialize.</p>
						</div>
					</div>
				</div>

			</div>
			<br />
			<br />

			<div class="section"></div>
		</div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<h:outputScript name="js/materialize.min.js" />
		<ui:decorate template="/WEB-INF/templates/ajaxStatus.xhtml"></ui:decorate>
		<footer> <nav
			class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<div class="container-fluid"
			style="background-color: #f0f0f0; padding-top: 10px;">
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="http://www.carrerasistemas.com.br" target="_blanck"><h:graphicImage
							library="img" name="carrera/carrera-logo-azul-100.png"
							height="50px" /></a>
					<h5>Desenvolvido por Carrera Consultoria e Sistemas</h5>
					<hr />
					<h5>
						<a href="http://www.carrerasistemas.com.br" target="_blanck">www.carrerasistemas.com.br</a>
					</h5>
					<br></br>
				</div>
			</div>
		</div>
		</nav> </footer>
	</h:body>
</ui:composition>



