<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:decorate template="/WEB-INF/facelets/cabecalho.xhtml"></ui:decorate>

	<h:body>
		<ui:decorate template="/WEB-INF/facelets/nav.xhtml"></ui:decorate>
		
		<div class="col s12 z-depth-1" style="height: 30%; padding-top: 12%">
			
		</div>
		
		<div class="section no-pad-bot" id="index-banner" style="margin-top: -7%">
			<div class="container">

				<ui:param name="MB" value="#{MBPadrao}" />
				<ui:param name="rp" value="#{renderizarPesquisa}" />
				<ui:param name="rn" value="#{renderizarNovo}" />
				<ui:param name="rg" value="#{renderizarGravar}" />
				<ui:param name="re" value="#{renderizarExcluir}" />
				<ui:param name="rv" value="#{renderizarVoltar}" />
				<ui:param name="red" value="#{renderizarEditar}" />

				<h:form styleClass="col s12">
					
					<h:messages errorClass="red-text" infoClass="blue-text" warnClass="orange-text" ></h:messages>
					<h:panelGroup rendered="#{MB.modoListar}">
						
						<ui:decorate template="/WEB-INF/facelets/card.xhtml">
							<ui:define name="tituloCard">
								<div>
									<h:commandLink styleClass="btn-floating btn-large waves-effect waves-light red" action="#{MB.criar}" jsf:rendered="#{empty rn ? true : rn}">
										<i class="large mdi-content-add"></i>
									</h:commandLink>
								</div>
								<div class="center">
									<ui:insert name="titulo" />
								</div>
							</ui:define>
							<ui:define name="conteudoCard">
								<table class="hoverable responsive-table">
									<thead>
										<tr>
											<ui:insert name="cabecalhoTabela"/>
										</tr>
									</thead>
						
									<tbody>
										<ui:repeat var="obj" value="#{MB.lista}">
											<tr>
												<ui:insert name="conteudoTabela"/>
												<td class="center">
													<h:commandLink styleClass="btn-floating waves-effect waves-light green" action="#{MB.editar(obj)}">
														<i class="mdi-editor-mode-edit"></i>
													</h:commandLink>
													
												</td>
											</tr>
										</ui:repeat>
									</tbody>
								</table>
							</ui:define>
						</ui:decorate>
					</h:panelGroup>
					
					<h:panelGroup rendered="#{MB.modoEditar}">
						<ui:decorate template="/WEB-INF/facelets/card.xhtml">
							<ui:define name="tituloCard">
								<ui:insert name="titulo"/>
							</ui:define>
							
							<ui:define name="conteudoCard">
								<ui:insert name="formulario"/>
							</ui:define>
						</ui:decorate>
						
						<div class="divider"></div>
						<div class="section"></div>
						
						<ui:decorate template="/WEB-INF/facelets/btnCrud.xhtml"></ui:decorate>
						
					</h:panelGroup>
				</h:form>
			</div>
		</div>
		
		<div class="section"></div>
    	
		<ui:decorate template="/WEB-INF/facelets/rodape.xhtml"></ui:decorate>
		
	</h:body>
		<script>
		$(".button-collapse").sideNav();
		</script>
</ui:composition>



