<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:decorate template="/WEB-INF/facelets/cabecalho.xhtml"></ui:decorate>

	<h:body>
		<ui:decorate template="/WEB-INF/facelets/nav.xhtml"></ui:decorate>
		
		<div class="col s12 z-depth-1" style="height: 30%; padding-top: 12%">
			
		</div>
		
		<div class="section no-pad-bot" id="index-banner" style="margin-top: -7%">
			<div class="container">
				
				<ui:param name="MB" value="#{MBPadrao}" />

				<h:form styleClass="col s12">
					
					<h:messages errorClass="red-text" infoClass="blue-text" warnClass="orange-text" ></h:messages>
						
						<ui:decorate template="/WEB-INF/facelets/card.xhtml">
							<ui:define name="tituloCard">
								<div class="center">
									<ui:insert name="titulo" />
								</div>
							</ui:define>
							<ui:define name="conteudoCard">
								<ui:insert name="conteudo"/>
							</ui:define>
						</ui:decorate>
				</h:form>
			</div>
		</div>
		
		<div class="section"></div>
    	
		<ui:decorate template="/WEB-INF/facelets/rodape.xhtml"></ui:decorate>
		
	</h:body>
		<script>
		$(".button-collapse").sideNav();
		</script>
</ui:composition>



