<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<p:ajaxStatus onstart="PF('status').show()" oncomplete="PF('status').hide()"/>
	
	<p:dialog widgetVar="status" modal="true" closable="false" showHeader="false" height="98px" width="120px">
		<div class="preloader-wrapper big active" id="status">
	    	<div class="spinner-layer spinner-blue-only">
	      		<div class="circle-clipper left">
	        		<div class="circle"></div>
	      		</div>
	      		<div class="gap-patch">
	        		<div class="circle"></div>
	      		</div>
	      		<div class="circle-clipper right">
	        		<div class="circle"></div>
	      		</div>
	    	</div>
	  	</div>
	</p:dialog>
	
</ui:composition>