<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:commandLink styleClass="waves-effect waves-teal btn-flat" action="#{MB.voltar}" immediate="true" rendered="#{empty rv ? true : rv}">
		<i class="mdi-content-undo"></i> Voltar
		<f:ajax render="@form"></f:ajax>
	</h:commandLink>
	
	<h:commandLink styleClass="btn waves-effect waves-light blue" action="#{MB.gravar}" rendered="#{empty rg ? true : rg}" style="margin-left:5px;">
		<i class="mdi-content-save"></i> Gravar
		<f:ajax execute="@form" render="@form"></f:ajax>
	</h:commandLink>
	
	<h:panelGroup rendered="${(not empty MB.entidade.id and re != false)}">
		<a class="right waves-effect waves-light btn modal-trigger red" href="#confirmacaoExclusao" style="margin-left:5px;">
			<i class="mdi-action-delete"></i> Excluir
		</a>
		
		<div id="confirmacaoExclusao" class="modal">
			<div class="modal-content">
				<h4>Confirmação</h4>
				<p>Confirma a exclusão do registro?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-flat modal-close">Cancelar</button>
				<h:commandLink styleClass="modal-action modal-close waves-effect waves-red btn-flat" action="#{MB.excluir}" immediate="true" jsf:rendered="#{empty re ? true : re}">
					<i class="mdi-action-delete"></i> Excluir
					<f:ajax render="@form"></f:ajax>
				</h:commandLink>
			</div>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
		    	// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		    	$('.modal-trigger').leanModal();
		  	});
		</script>
	</h:panelGroup>

</ui:composition>