<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:head>

		<!-- Standard Meta -->
		<meta charset="utf-8" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

		<!-- Site Properities -->
		<title>Carrera Sistemas - Gerador</title>

		<h:outputStylesheet name="css/materialize.min.css" />

		<link rel="apple-touch-icon" href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="icon" href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="shortcut icon" href="#{request.contextPath}/resources/img/ico.png" />

	</h:head>
</ui:composition>