<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:head>

		<!-- Standard Meta -->
		<meta charset="utf-8" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- Site Properities -->
		<title>Relab-Material Design</title>

		<h:outputStylesheet name="css/materialize.min.css" />

		<link rel="apple-touch-icon"
			href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="icon" href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72"
			href="#{request.contextPath}/resources/img/ico.png" />
		<link rel="shortcut icon"
			href="#{request.contextPath}/resources/img/ico.png" />

	</h:head>
	
	<h:body>
		<ui:decorate template="/WEB-INF/templates/menu.xhtml"></ui:decorate>
		
		
		<div class="section"></div>
		<div class="section">
			<div class="container">
				<h5><ui:insert name="titulo"/></h5>
			</div>
		</div>
		<div class="section no-pad-bot" id="index-banner">
			<div class="container">

				<ui:param name="MB" value="#{MBPadrao}" />
				<ui:param name="rp" value="#{renderizarPesquisa}" />
				<ui:param name="rn" value="#{renderizarNovo}" />
				<ui:param name="rg" value="#{renderizarGravar}" />
				<ui:param name="re" value="#{renderizarExcluir}" />

				<h:form styleClass="col s12">
					
					<h:messages errorClass="red-text" infoClass="blue-text" warnClass="orange-text" ></h:messages>
					<h:panelGroup rendered="#{MB.modoListar}">
						<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
							<h:commandLink styleClass="btn-floating btn-large red" action="#{MB.criar}">
						    	<i class="large mdi-content-add"></i>
						    </h:commandLink>
						    
						</div>
						<ui:insert name="tabela"/>
					</h:panelGroup>
					<h:panelGroup rendered="#{MB.modoEditar}">
					
						<ui:insert name="formulario"/>
						
						<div class="divider"></div>
						<div class="section"></div>
						<ui:decorate template="/WEB-INF/templates/btnCrud.xhtml"></ui:decorate>
						
					</h:panelGroup>
				</h:form>
			</div>
		</div>
		
		<div class="section"></div>
    	
		<footer class="page-footer orange">
		    <div class="container">
		      <div class="row">
		        <div class="col l6 s12">
		          <h5 class="white-text">Carrera Sistemas</h5>
		          <a href="http://www.carrerasistemas.com.br" target="_blanck"><h:graphicImage
							library="img" name="carrera/carrera-logo-azul-100.png"
							height="50px" /></a>
				</div>
		      </div>
		    </div>
		    <div class="footer-copyright">
		      <div class="container">
		     Desenvolvido por Carrera Sistemas <a href="http://www.carrerasistemas.com.br" target="_blanck">www.carrerasistemas.com.br</a>
		      </div>
		    </div>
		  </footer>
			
		<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
		<h:outputScript name="js/materialize.min.js" />
		<ui:decorate template="/WEB-INF/templates/ajaxStatus.xhtml"></ui:decorate>
		<h:outputScript name="locale-primefaces.js" library="js" />		
		
	</h:body>
</ui:composition>



