<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  		<div class="modal-dialog">
	    		<div class="modal-content">
	      			<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
		        		<h4 class="modal-title"><ui:insert name="titulo"></ui:insert></h4>
		      		</div>
		      		
		      		<div class="modal-body">
		      			<ui:insert name="conteudo"></ui:insert>
		      		</div>
		      
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">
		        			<span class="glyphicon glyphicon-remove-circle"/> Fechar
		        		</button>
		        		<ui:insert name="acao"></ui:insert>
		        	</div>
	    		</div><!-- /.modal-content -->
	  		</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	

</ui:composition>