<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<nav class="blue darken-2" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="http://www.carrerasistemas.com.br" target="_blank" class="brand-logo">
				<h:graphicImage library="img/carrera" name="carrera-logo.png"  height="65px;"/>
			</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a class="dropdown-button" href="#!" data-activates="dropcadastros">
						Gerador<i class="mdi-navigation-arrow-drop-down right"></i>
					</a>
				</li>
			</ul>
			
			<ul id="slide-out" class="side-nav">
				<li class="no-padding">
					<ul class="collapsible collapsible-accordion">
						<li class="bold">
							<a class="collapsible-header waves-effect waves-orange">Gerador<i class="mdi-navigation-arrow-drop-down"></i></a>
							<div class="collapsible-body">
								<ul>
									<li><a class="waves-effect waves-green" href="${facesContext.externalContext.requestContextPath}/geradorCrud.xhtml">CRUD</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
			</ul>
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			
			<ul id="dropcadastros" class="dropdown-content">
				<li><a href="${facesContext.externalContext.requestContextPath}/geradorCrud.xhtml">CRUD</a></li>
			</ul>
		</div>
	</nav>
</ui:composition>