<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<ul class="pagination">
				<li><h:commandLink action="#{MB.navegarPrimeiraPagina}">
						<span class="glyphicon glyphicon-step-backward"></span>
						<f:ajax render="@form"></f:ajax>
					</h:commandLink></li>
				<li><h:commandLink action="#{MB.navegarPaginaAnterior}">
						<span class="glyphicon glyphicon-backward"></span>
						<f:ajax render="@form"></f:ajax>
					</h:commandLink></li>
				<li><a href="#">Página #{MB.pagina} de #{MB.totalPaginas}</a></li>
				<li><h:commandLink action="#{MB.navegarProximaPagina}">
						<span class="glyphicon glyphicon-forward"></span>
						<f:ajax render="@form"></f:ajax>
					</h:commandLink></li>
				<li><h:commandLink action="#{MB.navegarUltimaPagina}">
						<span class="glyphicon glyphicon-step-forward"></span>
						<f:ajax render="@form"></f:ajax>
					</h:commandLink></li>
			</ul>
		</div>
		<div class="col-md-4"></div>
	</div>

</ui:composition>



