<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<footer class="page-footer blue-grey">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Desenvolvido por Carrera Sistemas</h5>
					<a href="http://www.carrerasistemas.com.br" target="_blanck"><h:graphicImage
							library="img" name="carrera/carrera-logo-azul-100.png"
							height="50px" /></a>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Copyright 2015
			</div>
		</div>
	</footer>
	
	<h:outputScript name="js/materialize.min.js" />
	<ui:decorate template="/WEB-INF/facelets/ajaxStatus.xhtml"></ui:decorate>
	
	
</ui:composition>



