<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	lang="pt-br">
  
	<ui:decorate template="/WEB-INF/facelets/cabecalho.xhtml"/>
  
	<h:body>
		
	    <ui:decorate template="/WEB-INF/facelets/menu.xhtml"/>
	    
	    <ui:insert name="conteudo"/>
	    
	    <ui:decorate template="/WEB-INF/facelets/ajaxStatus.xhtml"/>
	    <ui:decorate template="/WEB-INF/facelets/rodape.xhtml"/>
  </h:body>
</ui:composition>