<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:commandLink styleClass="btn btn-info" action="#{MB.voltar}" 
		style="margin-left: 5px;" immediate="true">
		<i class="fa fa-arrow-left"></i> Voltar
		<f:ajax render="@form"></f:ajax>
	</h:commandLink>
	<h:commandLink styleClass="btn btn-success" action="#{MB.gravar}" rendered="#{empty rg ? true : rg}"
		style="margin-left: 5px;">
		<i class="fa fa-check"></i> Gravar
		<f:ajax execute="@form" render="@form"></f:ajax>
	</h:commandLink>
	<h:commandLink styleClass="btn btn-danger" action="#{MB.excluir}" immediate="true" onclick="return confirm('Confirma exclusão do item?')" rendered="${(not empty MB.entidade.id and re != false)}">
		<i class="fa fa-trash"></i> Excluir
		<f:ajax render="@form"></f:ajax>
	</h:commandLink>

</ui:composition>