<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	template="/WEB-INF/templates/admin.xhtml">

	<ui:param name="MB" value="#{MBPadrao}" />
	<ui:param name="rp" value="#{renderizarPesquisa}" />
	<ui:param name="rn" value="#{renderizarNovo}" />
	<ui:param name="rg" value="#{renderizarGravar}" />
	<ui:param name="re" value="#{renderizarExcluir}" />
	<ui:param name="rv" value="#{renderizarVoltar}" />
	<ui:param name="red" value="#{renderizarEditar}" />
	<ui:param name="et" value="#{tipoForm}" />

	<ui:define name="conteudo">
		<main>
			<div class="container">
				<h:form styleClass="col s12" prependId="false"
					enctype="#{et == null ? 'application/x-www-form-urlencoded':'multipart/form-data'}">
		
					<h:messages id="mensagens"
						errorClass="col s12 red white-text z-depth-2"
						infoClass="col s12 blue white-text z-depth-2"
						warnClass="col s12 orange white-text z-depth-2">
					</h:messages>
		
					<h:panelGroup rendered="#{MB.modoListar}">
		
						<ui:decorate template="/WEB-INF/facelets/card.xhtml">
							<ui:define name="acao">
								<a class="btn waves-effect waves-light blue darken-4 tooltipped"
									jsf:action="#{MB.criar}" jsf:rendered="#{empty rn ? true : rn}"
									data-position="top" data-delay="50"
									data-tooltip="Incluir novo registro"> <i
									class="large mdi-content-add"></i> Incluir <f:ajax
										execute="@this" render="@all"></f:ajax>
								</a>
							</ui:define>
		
							<ui:define name="conteudo">
								<ui:insert name="antesTabela" />
								<table class="bordered hoverable responsive-table">
									<thead>
										<tr>
											<ui:insert name="cabecalhoTabela" />
										</tr>
									</thead>
		
									<tbody>
										<ui:repeat var="obj" value="#{MB.lista}" varStatus="i">
											<tr>
												<ui:insert name="conteudoTabela" />
												<td class="center"><a
													class="btn-floating waves-effect waves-light green tooltipped"
													jsf:action="#{MB.editar(obj)}"
													jsf:rendered="#{empty red ? true : red}" data-position="top"
													data-delay="50" data-tooltip="Editar o registro selecionado">
														<i class="mdi-editor-mode-edit"></i> <f:ajax render="@all"
															execute="@this" />
												</a></td>
											</tr>
										</ui:repeat>
									</tbody>
								</table>
							</ui:define>
						</ui:decorate>
					</h:panelGroup>
		
					<h:panelGroup rendered="#{MB.modoEditar}">
						<ui:decorate template="/WEB-INF/facelets/card.xhtml">
							<ui:define name="tituloCard">
								<div class="center">
									<ui:insert name="titulo" />
								</div>
							</ui:define>
		
							<ui:define name="conteudo">
								<ui:insert name="formulario" />
		
								<div class="divider"></div>
								<div class="section"></div>
		
								<ui:decorate template="/WEB-INF/facelets/btnCrud.xhtml"></ui:decorate>
							</ui:define>
						</ui:decorate>
					</h:panelGroup>
				</h:form>
			</div>
		</main>
	</ui:define>
</ui:composition>