<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
						<h:panelGroup rendered="#{LoginMB.usuarioLogado != null}">
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
						   <span class="icon-bar"></span>
						</h:panelGroup>
					</button>
					<h:graphicImage library ="img" name="logo2.png" styleClass="pull-left"/> 
					<a class="navbar-brand" href="#"></a>
				</div>
						
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<h:panelGroup rendered="#{LoginMB.usuarioLogado != null}">
						<ul class="nav navbar-nav">
							<li class="dropdown">
						    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mapa <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/monitor.xhtml"><i class="fa fa-dashboard"></i> Acompanhamento</a></li>
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/mapaCliente.xhtml"><i class="fa fa-users"></i> Clientes</a></li>
								</ul>
							</li>
							<li class="dropdown">
						    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/veiculo.xhtml"><i class="fa fa-bus"></i> Veículos</a></li>
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/cliente.xhtml"><i class="fa fa-smile-o"></i> Clientes</a></li>
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/clientePreco.xhtml"><i class="fa fa-calculator"></i> Gerenciar Preços</a></li>
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/motivo.xhtml"><i class="fa fa-thumb-tack"></i> Motivo</a></li>
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/condicao.xhtml"><i class="fa fa-wrench"></i> Condição</a></li>
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/tipoDespesa.xhtml"><i class="fa fa-book"></i> Tipo Despesa</a></li>
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/produto.xhtml"><i class="fa fa-tint"></i> Produtos</a></li>
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/miniTanque.xhtml"><i class="fa fa-database"></i> Minitanques</a></li>
									<h:panelGroup rendered="#{request.isUserInRole('ADMIN')}">
										<li><a href="${facesContext.externalContext.requestContextPath}/admin/usuario.xhtml"><i class="fa fa-user"></i> Usuários</a></li>
										<li><a href="${facesContext.externalContext.requestContextPath}/admin/config.xhtml"><i class="fa fa-cogs"></i> Configurações</a></li>
										<li><a href="${facesContext.externalContext.requestContextPath}/admin/importador.xhtml"><i class="fa fa-cloud-upload"></i> Importador</a></li>
									</h:panelGroup>
								</ul>
						    </li>
						    <li class="dropdown">
						    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Rotas <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/rota.xhtml"><i class="fa fa-truck"></i> Configurar Rotas</a> </li>
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/rotaVisita.xhtml"><i class="fa fa-map-marker"></i> Controlar Rotas</a></li>
								</ul>
							</li>
							 <li class="dropdown">
						    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Despesas <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/despesa.xhtml"><i class="fa fa-money"></i> Lançamento</a> </li>
								</ul>
							</li>
						    <li class="dropdown">
						    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/visita.xhtml"><i class="fa fa-tablet"></i> Visita</a></li>
									<li><a href="${facesContext.externalContext.requestContextPath}/admin/relDespesa.xhtml"><i class="fa fa-area-chart"></i> Despesa</a></li>
								</ul>
							</li>
						</ul>
						<div class="pull-right">
				               <ul class="nav pull-right">
				                   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bem vindo, <i class="fa fa-user"></i> <h:outputText value=" #{LoginMB.usuarioLogado.email}"/> <b class="caret"></b></a>
				                       <ul class="dropdown-menu">
				                           <li><a href="${facesContext.externalContext.requestContextPath}/sair.xhtml"><i class="fa fa-ban"></i> Sair</a></li>
				                       </ul>
				                   </li>
				               </ul>
				             </div>
					</h:panelGroup>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>  	
				
</ui:composition>



