<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	template="/WEB-INF/templates/publico.xhtml">

	<ui:param name="MBPadrao" value="#{geradorCrudMB}" />
	
	<ui:define name="titulo">
		Gerador de CRUDs
	</ui:define>
	
	<ui:define name="conteudo">
		<div class="row">
			<div class="row">
				<div class="input-field col s6">
					<input placeholder="Caminho para os artefatos gerados" type="text" jsf:id="caminho" jsf:value="#{MB.entidade.caminho}" jsf:required="true" jsf:requiredMessage="Informe o caminho dos artefatos gerados." class="validate" />
					<label for="caminho">Caminho dos artefatos</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input placeholder="Pacote Base" type="text" jsf:id="pacoteBase" jsf:value="#{MB.entidade.pacoteBase}" jsf:required="true" jsf:requiredMessage="Informe o pacote base." class="validate" jsf:maxlength="255" />
					<label for="pacoteBase">Pacote Base</label>
				</div>
				<div class="input-field col s6">
					<input type="text" jsf:id="nome" jsf:value="#{MB.entidade.nome}" jsf:required="true" jsf:requiredMessage="Informe o nome da classe." jsf:maxlength="255" >
						<f:ajax execute="@form" render="@all" event="blur" listener="#{MB.gerarNomes}"/>
					</input>
					<label for="nome">Nome</label>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s4">
					<input type="text" jsf:id="bo" jsf:value="#{MB.entidade.bo}" class="validate" jsf:maxlength="255" />
					<label for="bo">BO</label>
				</div>
				<div class="input-field col s4">
					<input type="text" jsf:id="mb" jsf:value="#{MB.entidade.mb}" class="validate" jsf:maxlength="255" />
					<label for="mb">Managed Bean</label>
				</div>
				<div class="input-field col s4">
					<input type="text" jsf:id="xhtml" jsf:value="#{MB.entidade.xhtml}" class="validate" jsf:maxlength="255" />
					<label for="xhtml">XHTML</label>
				</div>
			</div>
			
			<div class="section">
				Atributos
			</div>
			
			<div class="row">
				<div class="input-field col s3">
					<input type="text" jsf:id="atNome" jsf:value="#{MB.nome}" class="validate" jsf:maxlength="255" />
					<label for="atNome">Nome Atributo</label>
				</div>
				<div class="input-field col s3">
					<input type="text" jsf:id="tipo" jsf:value="#{MB.tipo}" class="validate" jsf:maxlength="255" />
					<label for="tipo">Tipo</label>
				</div>
				<div class="input-field col s3">
					<input type="text" jsf:id="anotacao" jsf:value="#{MB.anotacao}" class="validate" jsf:maxlength="255" />
					<label for="anotacao">Anotação</label>
				</div>
				<div class="input-field col s3">
					<input type="text" jsf:id="validacao" jsf:value="#{MB.validacao}" class="validate" jsf:maxlength="255" />
					<label for="validacao">Validação</label>
				</div>
			</div>
			
			<div class="row">
				<button jsf:action="#{MB.addAtributo}" class="btn waves-effect waves-light orange">
					<i class="mdi-content-add-circle-outline"></i>Adicionar
					<f:ajax execute="@form" render="@all"></f:ajax>
				</button>
			</div>
			
			<div class="row">
				<table>
					<thead>
						<th>Nome</th>
						<th>Tipo</th>
						<th>Anotação</th>
						<th>Validação</th>
					</thead>
					<tbody>
						<ui:repeat var="obj" value="#{MB.entidade.atributos}">
							<tr>
								<td>#{obj.nome}</td>
								<td>#{obj.tipo}</td>
								<td>#{obj.anotacao}</td>
								<td>#{obj.validacao}</td>
								<td>
									<button jsf:action="#{MB.removerAtributo(obj)}" class="btn waves-effect waves-light red">
										<i class="mdi-content-remove"></i>Remover
										<f:ajax execute="@form" render="@all"></f:ajax>
									</button>
								</td>
							</tr>
						</ui:repeat>
					</tbody>
				</table>
			</div>
			
			<div class="row right">
				<a class="btn waves-effect waves-light deep-purple" jsf:action="#{MB.gerar}" style="margin-left:5px;">
					<i class="mdi-action-done-all"></i>Gerar
					<f:ajax execute="@form" render="@all"></f:ajax>
				</a>
			</div>
		</div>
	</ui:define>
</ui:composition>
