<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	template="/WEB-INF/templates/crud.xhtml">

	<ui:param name="MBPadrao" value="#{papelMB}" />
	
	<ui:define name="titulo">
		Cadastro de papéis de segurança
	</ui:define>
	
	<ui:define name="cabecalhoTabela">
		<th>ID</th>
		<th>Descrição</th>
		<th class="center">Ação</th>
	</ui:define>
	
	<ui:define name="conteudoTabela">
		<td><h:outputText value="#{obj.id}" style="margin-left: 1px"/></td>
		<td><h:outputText value="#{obj.descricao}"/></td>
	</ui:define>
	
	<ui:define name="formulario">
		<div class="row">
			<div class="row">
				<div class="input-field col s6">
					<input type="text" jsf:id="descricao" jsf:value="#{MB.entidade.descricao}" jsf:required="true"
						jsf:requiredMessage="Informe o nome do cliente."
						class="validate" jsf:maxlength="255" />
					<label for="nome">Descrição</label>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>