<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/functions"
	xmlns:c="http://xmlns.jcp.org/jsp/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	template="/WEB-INF/templates/crud.xhtml">

	<ui:param name="MBPadrao" value="#{usuarioMB}" />
	
	<ui:define name="titulo">
		Cadastro de usuários
	</ui:define>
	
	<ui:define name="cabecalhoTabela">
		<th>Nome</th>
		<th>Email</th>
		<th>Papéis</th>
		<th>Ação</th>
	</ui:define>
	
	
	<ui:define name="conteudoTabela">				
		<td><h:outputText value="#{obj.nome}"/></td>
		<td><h:outputText value="#{obj.email}"/></td>
		<td><h:outputText value="#{obj.papeis}"/></td>
	</ui:define>
	
	<ui:define name="formulario">
		<div class="row">
			<div class="row">
				<div class="input-field col s6">
					<h:inputText id="nome" value="#{MB.entidade.nome}" required="true"
						requiredMessage="Informe o nome."
						styleClass="validate" maxlength="255" />
					<h:outputLabel for="nome">Nome</h:outputLabel>
				</div>
			<div class="input-field col s6">
				<h:inputText id="email" value="#{MB.entidade.email}"
					required="true" requiredMessage="Informe o Email."
					styleClass="validate" maxlength="255" />
				<h:outputLabel for="email">Email</h:outputLabel>
			</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<h:inputSecret id="senha" value="#{MB.entidade.senha}"
						maxlength="20" required="true" requiredMessage="Informe a senha."
						styleClass="validate" />
					<h:outputLabel for="senha">Senha</h:outputLabel>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<h:selectBooleanCheckbox id="senhaTemporaria"
						value="#{MB.entidade.senhaTemporaria}" />
					<h:outputLabel for="senhaTemporaria">Senha temporaria</h:outputLabel>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<label for="Papéis" style="margin-bottom: 15px;">Papéis</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<h:selectManyCheckbox value="#{MB.entidade.papeis}">
						<f:attribute name="collectionType" value="java.util.HashSet" />
				    	<f:selectItems value="#{papelMB.lista}" var="papel" itemLabel="#{papel.descricao}" itemValue="#{papel}"/>
				    	<f:converter converterId="entidadeConverter"/>
					</h:selectManyCheckbox>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>