#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	
	<ui:decorate template="/WEB-INF/facelets/faceletEditar.xhtml">
		<ui:define name="form">
			<h:form styleClass="form-horizontal">
				
				<p:messages id="mensagens"></p:messages>	
					
				<fieldset>
					<legend>Cadastro de Usuários</legend>
				
					<div class="control-group">	
						<h:outputLabel value="Nome:" for="nome" styleClass="control-label"/>
						<p:inputText id="nome" value="${symbol_pound}{UsuarioMB.entidade.nome}" maxlength="20"/>
					</div>
					
					<div class="control-group">	
						<h:outputLabel value="Senha:" for="senha" styleClass="control-label"/>
						<p:password id="senha" value="${symbol_pound}{UsuarioMB.entidade.senha}" maxlength="20"/>
					</div>
						
					<div class="control-group">	
						<h:outputLabel value="E-mail:" for="email" styleClass="control-label"/>
						<p:inputText id="email" value="${symbol_pound}{UsuarioMB.entidade.email}" maxlength="100"/>
					</div>
						
					<div class="control-group">
						<p:commandButton 
							value="Gravar" 
							action="${symbol_pound}{UsuarioMB.gravar}"
							update="mensagens"/>
						
						<p:commandButton 
							value="Excluir" 
							action="${symbol_pound}{UsuarioMB.excluir}"
							rendered="${symbol_pound}{UsuarioMB.exibirExcluir}"
							onclick="confirmation.show()" 
							type="button"/>
							
						<p:confirmDialog 
							id="confirmDialog" 
							message="Confimar a exclusão do registro?"  
					    	header="Confirmação!" 
					    	severity="alert" 
					    	widgetVar="confirmation">  
					                  
							<p:commandButton 
					   			id="confirm" 
					   			value="Sim" 
					   			oncomplete="confirmation.hide()"  
					    		action="${symbol_pound}{UsuarioMB.excluir}"/>  
					        
							<p:commandButton 
					  			id="decline" 
					   			value="Não" 
					   			onclick="confirmation.hide()" 
					   			type="button" />   
					                  
						</p:confirmDialog>
					</div>
				</fieldset>
			</h:form>
		</ui:define>
	</ui:decorate>
</html>