#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	
	<ui:decorate template="/WEB-INF/facelets/faceletListar.xhtml">
		<ui:define name="form">
				<h:messages id="messages" globalOnly="true"
                style="border: 1px solid ${symbol_pound}999999;background-color:${symbol_pound}ffffee;padding:6px;font-weight:bold"
                errorStyle="color:${symbol_pound}ff0000;font-weight:bold" layout="table"/>
                
				<h:form>
						<p:commandButton action="${symbol_pound}{UsuarioMB.criar}" value="Novo &raquo;"></p:commandButton>
						<p></p>
						
						<p:dataTable 
							value="${symbol_pound}{UsuarioMB.lista}" 
							var="obj" 
							selectionMode="single" 
							selection="${symbol_pound}{UsuarioMB.entidade}"
							paginator="true"
							rows="10"
							rowKey="${symbol_pound}{obj.id}"
							widgetVar="tabela">
							
							<p:ajax event="rowSelect" listener="${symbol_pound}{UsuarioMB.selecionarEditar}"></p:ajax>
							<p:column sortBy="${symbol_pound}{obj.nome}" filterBy="${symbol_pound}{obj.nome}">
					        	<f:facet name="header">
					        		<h:outputText value="Nome" />
					        	</f:facet>
					            <h:outputText value="${symbol_pound}{obj.nome}" />
					        </p:column>
					    </p:dataTable>
						
					</h:form>
				</ui:define>
	</ui:decorate>

</html>