#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	
	<ui:decorate template="/WEB-INF/facelets/faceletLogin.xhtml">
		<ui:define name="form">
			<h:form styleClass="form-horizontal">
				
				<p:messages id="mensagens"></p:messages>	
				
				<fieldset>
					<legend>Login</legend>
					
					<div class="control-group">		
						<h:outputLabel value="Usuário:" for="usuario" styleClass="control-label" />
						<p:inputText id="usuario" value="${symbol_pound}{LoginMB.usuario}" maxlength="20" required="true"/>
					</div>
					
					<div class="control-group">	
						<h:outputLabel value="Senha:" for="senha" styleClass="control-label" />
						<p:password id="senha" value="${symbol_pound}{LoginMB.senha}" maxlength="20" />
					</div>
					
					<div class="control-group">
						<p:commandButton action="${symbol_pound}{LoginMB.login}" value="Logar"></p:commandButton>
					</div>
				</fieldset>
			</h:form>
		</ui:define>
	</ui:decorate>
	
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38100107-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>